/* Общее */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto"),
        url("../fonts/Roboto-Medium.woff2") format("woff2");
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #FFF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 165px;
    height: 49px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    background: #F6762C;

    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.7;
}

/* header */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 25px 0;
}

.header__list {
    display: flex;
    gap: 28px;
}

.header__item {
    font-size: 15px;
    line-height: 18px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.header__item:hover {
    opacity: 0.9;
}

.header__item--active {
    font-weight: 500;
    opacity: 1;
}

/* MAIN */


.main {}

/* HERO */

.hero {
    box-sizing: border-box;
    min-height: 100vh;

    padding: 240px 0;
    margin-top: -100px;

    background-image: url("/images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__elements {
    width: 550px;
}

.hero__subtitle {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 10%;
    margin-bottom: 7px;
}

.hero__title {
    font-size: 58px;
    margin-bottom: 37px;
}

.hero__text {
    font-size: 18px;
    line-height: 21px;
    opacity: 0.7;
    margin-bottom: 42px;
}

/* food-list */
.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    border-radius: 10px;
    background: #312F30;
    text-align: center;
    overflow: hidden;
}

.food-list__img {
    height: 175px;
    object-fit: cover;
}

.food-list__texts {
    padding: 30px 20px;
}

.food-list__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;

}

.food-list__desc {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.7;

}

/* ORDER */

.order {
   background:  #312F30;
   padding: 60px 0;
}

.order .container {
    display: flex;
    align-items: center;
}

.order__image {
    max-width: 470px;
}

.order__text {
    max-width: 360px;
    margin: 0 auto;
}

.order__title {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 24px;
}

.order__desc {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.7;
    margin-bottom: 13px;

}

.order__prices {
    margin-bottom: 11px;
}

.order__price {
    color: #F6762C;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 10%;
    margin-right: 6px;
}

.order__old-price {
    color: #F6762C;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: line-through;
    opacity: 0.5;
}
