maket Burger Landing.fig
images/burger.png
images/feedback.png
images/food-list-1.jpg
images/food-list-2.jpg
images/food-list-3.jpg
images/food-list-4.jpg
images/product-1.jpg
images/product-2.jpg
images/product-3.jpg
images/product-4.jpg
images/welcome-bg.jpg
images/icons/global.svg
images/icons/logo.png
images/icons/mail.svg
images/icons/quote.svg
images/icons/socials/facebook.png
images/icons/socials/instagram.png
images/icons/socials/linkedin.png
images/icons/socials/twitter.png
